# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.migrations/

# If you are using PyCharm:
.idea/

# If you are using VSCode:
.vscode/

# Local environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS files
.DS_Store

# Static and media files
staticfiles/
media/

# Logs
logs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env/
.venv/
