<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{% block title %}My shop{% endblock %}</title>

     <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'shop/style.css' %}" rel="stylesheet">

    <!-- My CSS -->
    <link type="text/css" href="{% static 'blog/css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">


</head>
<body>
<!--<div class="container">-->
    <div>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
                    </li>
<!--            {% if user.is_authenticated %}-->

<!--            {% endif %}-->
<!--             <li>-->
<!--                <a href="{% url 'shop:product_list' %}">Shop</a>-->
<!--            </li>-->
                </ul>

                 <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                 </form>
                 <div>
                {% include 'blog/toggle_login.html' %}
                 </div>
                 <div class="cart-in-header">
                     <a href="#"><img class="cart-icon" src="{% static 'img/cart.png' %}"></a>
                 </div>
            </div>

    </nav>
    </div>
<!--</div>-->

<div id="header">
    <a href="{% url 'shop:product_list' %}" class="logo">My shop</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        Your cart:
        <a href="{% url 'cart:cart_detail' %}">{{total_items}}item{{total_items|pluralize}},
        ${{cart.get_total_price}}</a>
        {% else %}
        Your cart is empty.
        {% endif %}
        {% endwith %}

    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Blog 2024</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
</body>
</html>